body {
  color: #595959;
  font-family: 'arial unicode ms';
  background-color: lightgray;
}

h1 {
  border-left: 5px solid cornflowerblue;
  padding-left: 10px;
}

.contents {
  width: 60%;
  margin: 0px 20%;
}

.content {
  margin-left: 5%;
}

.column img {
  width: 100%;
}
